<%= form_for(@member, url: admin_member_url(@member)) do |f| %>
  <% if @member.errors.any? %>
	<h3>This member couldn't be saved because:</h3>
	<ul class="errors">
		<% @member.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
  <% end %>
	
	<div class="field">
		<%= f.label :name %><br/>
		<%= f.text_field :name %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
